body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #e9e0c7;
  color: #4a3f35;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #d4c5a7;
  padding: 20px 0;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 20px:
}

.navbar a {
  text-deoration: none;
  font-weight: bold;
  color: #4a3f35;
}

header {
  text-align: center;
  padding: 2rem;
}

main {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

section.bio-intro {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

section.bio-intro img {
  width: 200px;
  border-radius: 12px;

footer {
    background-color: #d4c5a7;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
